*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #5d0ef0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: rgb(8, 0, 0);
    font-weight: bolder;
    margin: 1em;
    padding-bottom: 1em;
    justify-content: center;
}

main{
    position: relative;
    background-color: rgb(251, 252, 253);
    width: fit-content;
    padding: 3rem;
    border-radius: 1em;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
}

.container{
    margin-top: 2.5%;
    left: 50%;
    transform: translate(-50%);   
}

p, #titulo{
    color: rgb(219, 139, 33));
    text-align: center;
    margin-top: 1rem;
}

main input[type=text],
main input[type=email],
main input[type=date],
select{
    border: none;
    background-color: #c9c5c3e0;
    cursor: text;
    border-radius: 0.8em;
    padding: 0.4em;
    font-size: 0.92em;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

.linha1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: auto;
    grid-gap: 0.3em;
    margin: 1em;
}

.linha2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    grid-gap: 0.3em;
    margin: 1em;
}

.linha3{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row: auto;
    grid-gap: 0.3em;
    margin: 1em;
}

.linha4{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1.5fr;
    grid-row: auto;
    grid-gap: 0.3em;
    margin: 1em;
}

.linha5{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1.5fr;
    grid-row: auto;
    grid-gap: 0.3em;
    margin: 1em;
}

.linha6{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    grid-gap: 0.3em;
    margin: 1em;
}

.campo{
    display: grid;
    padding: 0.5em;
}

.campo label{
    margin-bottom: 0.2em;
    display: block;
}

.campo input::placeholder{
    color: rgba(34, 33, 33, 0.938);
}

.campo input:focus, .campo select:focus{
    background: #c9c5c3e0;
}

.required::after{
    content:"*";
}

.botao{
    background-color:  #3053e0;
    padding: 0.5em;
    font: 1em sans-serif;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.botao:hover {
    background: #3053e0; 
    transition: 0.3s;
    
    

rodape {
    background-color: #5d0ef0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: rgb(8, 0, 0);
    font-weight: bolder;
    margin: 1em;
    padding-bottom: 1em;
    justify-content: center;
        
     }
      
     .clear {clear:both;}
    }
    
    #redessociais{
        background-color: #5d0ef0;
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        color: rgb(8, 0, 0);
        font-weight: bolder;
        margin: 1em;
        padding-bottom: 1em;
        justify-content: center;
    }
    
    .rede{
        margin-top: 5px;
        margin-bottom: 5px;
        height: 25;
        width: 25;
    
}